replicaCount: 1

image:
  repository: ""
  tag: ""
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
secretKey: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

tolerations: []

# nodeSelector:  

services:
  type: ClusterIP
  # the port for the p2p networking endpoint
  network:
    port: 9102
    # nodePort: 31001
  # the port for the HTTP health endpoint
  health:
    port: 8080

resources: {}

livenessProbe:
  failureThreshold: 3
  httpGet:
    path: /health
    port: 8080
    scheme: HTTP
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 5

readinessProbe:
  httpGet:
    path: /health
    port: 8080
    scheme: HTTP
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 5

configuration:
  # NETWORK
  # Port for node-node communication and data replication. Defaults to 9102.
  #
  # When port is taken the node will automatically pick a random, free port.
  #
  bind_port: 7000

  # HTTP port for health checks and metrics.
  #
  http_bind_port: 8080

  # Nodes will only communicate with each other if they know the same network id.
  #
  network_id: "default"

  # Path to file containing hexadecimal-encoded Ed25519 private key. The key is
  # used to identify the node towards other nodes during network discovery and
  # replication. This key is _not_ used to create and sign data.
  #
  private_key_path: "private-key.txt"

  nodes: []
  #   - public_key: "<public-key>"
  #     endpoints:
  #       - "192.168.178.100:9102"
  #       - "[2a02:8109:9c9a:4200:eb13:7c0a:4201:8128]:9103"
  mesh:
    zone: "default"

  log_level: =INFO