replicaCount: 1

image:
  repository: ""
  tag: ""
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
secretKey: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

serviceMonitorEnabled: false

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

tolerations: []

# nodeSelector:  

resources:
  requests:
    cpu: 200m
    memory: 200Mi
  limits:
    cpu: 200m
    memory: 200Mi

dashboards:
  ## dashboard deployment to a separate namespaces
  namespaceOverride:

services:
  type: ClusterIP
  # Static IP Address for LoadBalancer type
  # loadBalancerIP: 127.0.0.1
  # the port for the p2p networking endpoint
  network:
    port: 9102
    # nodePort: 31001
  # the port for the HTTP health endpoint
  health:
    port: 8080
  # the port for the tokio console
  console:
    port: 6669

livenessProbe:
  failureThreshold: 3
  httpGet:
    path: /health
    port: 8080
    scheme: HTTP
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 5

readinessProbe:
  httpGet:
    path: /health
    port: 8080
    scheme: HTTP
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 5

instrument:
  method: none
  volume:
    create: true
    storage: 5Gi 
    storageclass: local

configuration:
  # NETWORK
  # Port for node-node communication and data replication. Defaults to 9102.
  #
  # When port is taken the node will automatically pick a random, free port.
  #
  bind_port: 9102

  # HTTP port for health checks and metrics.
  #
  http_bind_port: 8080

  # Nodes will only communicate with each other if they know the same network id.
  #
  network_id: "default"

  # Path to file containing hexadecimal-encoded Ed25519 private key. The key is
  # used to identify the node towards other nodes during network discovery and
  # replication. This key is _not_ used to create and sign data.
  #
  private_key_path: "private-key.txt"

  nodes: []
  #   - public_key: "<public-key>"
  #     endpoints:
  #       - "192.168.178.100:9102"
  #       - "[2a02:8109:9c9a:4200:eb13:7c0a:4201:8128]:9103"

  kubernetes: incluster

  mesh:
    zone: "zone1"
    bootstrap: true

    snapshot:
      snapshot_interval_seconds: 120
      snapshot_max_log: 60

    tombstone:
        tombstone_retention_interval_seconds: 300

    peer_timeout:
        peer_unavailable_after_seconds: 120

    # resource:
    #   group: ""
    #   version: v1
    #   kind: Secret
    #   namespace: test
    #   merge_strategy: default

    resource:
      group: dcp.hiro.io
      version: v1
      kind: AnyApplication
      namespace: default
      merge_strategy: anyapplication


  log_level: =INFO

  # # Enable console
  # log_level: mesh=DEBUG,tokio=trace,runtime=trace
  # console:
  #   enable: true

  # Instrument image
  # heaptrack | bytehound | none
